// all the data in these file aur api key are dummy 


DATABASE_URL="postgresql://postgres:1234@localhost:5432/myappdb"
NODE_ENV=development
# CORS: sirf website (browser) ke liye. Comma-separated agar multiple sites.
# Flutter app ko yahan add mat karo – native app pe CORS nahi lagta.
# Example: https://micropay.vercel.app
# Local dev: http://localhost:5173
CLIENT_URL=http://localhost:5173
JWT_SECRET=change-me-in-production
JWT_EXPIRY=7d
ENCRYPTION_KEY=32-byte-key-for-aes-256-cbc!!

# SMS_PROVIDER=dummy
SMS_PROVIDER=icpaas
ICPAAS_API_KEY=7832892383232233223
ICPAAS_SENDER_ID=MIHGH
ICPAAS_PE_ID=872389238929833

DLT_TEMPLATE_OTP_LOGIN=782398238923892398
DLT_TEMPLATE_OTP_REGISTRATION=7238392889328923
DLT_TEMPLATE_MPIN_RESET=723832898932

OTP_EXPIRY_MINUTES=5